{% extends 'base.html' %} {% load static %} {% load shop_tags %} {% load thumbnail %} {% block content %}

<body>
  <div class="wrapper">
    {% include "components/header-single.html" %}
    <main class="page">
      <div class="index-banner" style="background-image: url({{ home_page.banner.url }})">
        <div class="index-banner__container">
          <div class="index-banner__content">
            <p class="index-banner__undertitle">{{ home_page.untitle }}</p>
            <h1 class="index-banner__title">{{ home_page.meta_h1 }}</h1>
            <div class="index-banner__btns">
              <a href="{% url 'catalog' %}" class="index-banner__btn btn">Перейти в меню</a>
              <!-- <a href="#" class="index-banner__btn btn">Связаться</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="index-service">
        <button type="button" class="index-service__union"
          style="background-image: url({% static 'theme/mb/images/Union.svg' %})">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
            </svg>
          </span>
        </button>
        <div class="index-service__container">
          <div class="index-service__grid">
            {% if services %}
            {% for service in services %}
            <a href="{{ service.get_absolute_url }}" class="index-service__item item-service">
              <div class="item-service__top">
                <p class="item-service__title">{{ service.name }}</p>
                <div class="item-service__icon">
                  <svg role="presentation" class="t959__card-arrow" width="14" height="24" viewBox="0 0 14 24"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 0.994385L12 11.9944L1 22.9944" stroke="#6c7c40" stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="item-service__text">{{ service.subtitle }}</div>
              <div class="item-service__image">
                {% if service.image %}
                <img src="{{ service.image.url }}" alt="{{ service.name }}" title="{{ service.name }}" />
                {% endif %}
              </div>
            </a>
            {% endfor %}
            {% else %}
            не заполнено
            {% endif %}
          </div>
        </div>
      </div>
      <div class="index-catalog">
        <div class="index-catalog__container">
          <h2 class="index-catalog__title title--dark">Меню дня</h2>
          <div class="index-catalog__tab tab">
            <div class="day-single__days">
              {% if categorys %}
              {% for category in categorys %}
              <a href="{{ category.get_absolute_url }}" data-id="{{ category.id }}"
                class="day-single__day category-link">{{ category.name }}</a>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="tab__content">
            <div id="products-container"></div>
            <div class="tab__content-grid" id="products-grid">

            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="index-about">
    <div class="rect"></div>
    <div class="index-about__container">
      <div class="index-about__row">
        <div class="index-about__col">
          <h2 class="index-about__title _title">Немного о нас</h2>
          <div class="index-about__text text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam reprehenderit inventore impedit
              perspiciatis, numquam blanditiis necessitatibus corrupti accusamus quod beatae veniam ratione tempore
              doloremque placeat deserunt reiciendis explicabo recusandae illum.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam reprehenderit inventore impedit
              perspiciatis, numquam blanditiis necessitatibus corrupti accusamus quod beatae veniam ratione tempore
              doloremque placeat deserunt reiciendis explicabo recusandae illum.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam reprehenderit inventore impedit
              perspiciatis, numquam blanditiis necessitatibus corrupti accusamus quod beatae veniam ratione tempore
              doloremque placeat deserunt reiciendis explicabo recusandae illum.
            </p>
          </div>
          <a href="{% url 'about' %}" class="index-about__btn _btn index-about__btn-pc">Подробнее</a>
        </div>
        <div class="index-about__col">
          <div class="index-about__image">
            <img src="{% static 'theme/mb/images/about.jpg' %}" alt="">
          </div>
          <a href="{% url 'about' %}" class="index-about__btn _btn index-about__btn-mb">Подробнее</a>
        </div>
      </div>
    </div>
  </div>

  <div class="reviews">
    <div class="reviews__container">
      <div class="reviews__inner">
        <div class="reviews__block-top">
          <h2 class="reviews__title title--dark">Отзывы клиентов</h2>
          <p class="reviews__subtitle">Мы накормили уже много людей. Так как мы делаем это с любовью и профессионально,
            все клиенты довольные и сытые.</p>
        </div>
        <div class="reviews__slider swiper">
          <div class="reviews__wrapper swiper-wrapper">
            {% for review in reviews %}
            <div class="reviews__slide swiper-slide">
              <div class="reviews__quote">"</div>
              <div class="reviews__top">
                <div class="reviews__avatar">
                  {% if review.avatar %}
                  <img src="{{ review.avatar.url }}" alt="{{ review.name }}" title="{{ review.name }}" />
                  {% endif %}
                </div>
                <div class="reviews__name">
                  <p>{{ review.name }}</p>
                  <span>{{ review.date }}</span>
                </div>
              </div>
              <div class="reviews__bottom">
                <div class="reviews__text">
                  <p>{{ review.text }}</p>
                </div>
                <a href="{{ review.get_absolute_url }}" class="reviews__btn">Читать отзыв полностью</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="reviews__controls">
            <!-- <button type="button" class="reviews__controls-btn">Оставить отзыв</button> -->
            <div class="reviews__controls-inherit">
              <div class="swiper-button-prev reviews__controls-prev"></div>
              <div class="swiper-pagination reviews__controls-pagination"></div>
              <div class="swiper-button-next reviews__controls-next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="callback" style="background-image: url({% static 'theme/mb/images/3.jpg' %})">
    <div class="callback__container">
      <h2 class="callback__title _title">Напишите нам !</h2>
      <p class="callback__subtitle">
        Если вы хотите заказать корпоративные обеды, банкет, кейтеринг или другие мероприятия, предложить сотрудничество
        или связаться по другому интересующему вас вопросу,
        заполните форму связи и мы обязательно ответим!
      </p>
      <form action="#" class="callback__form">
        <input type="text" name="name" placeholder="Имя" class="callback__input" />
        <input type="text" name="phone" placeholder="Телефон" class="callback__input" />
        <input type="text" name="message" placeholder="Сообщение" class="callback__input" />
        <button type="submit" class="callback__submit">Отправить</button>
      </form>
    </div>
  </div>

  <div class="index-blog">
    <div class="index-blog__container">
      <h2 class="index-blog__title _title">Интересное для Вас</h2>
      <div class="index-blog__tab">
        <button type="button" class="index-blog__tigger _active" data-id="news">Новости</button>
        <button type="button" class="index-blog__tigger" data-id="article">Статьи</button>
        <button type="button" class="index-blog__tigger" data-id="stock">Акции</button>
      </div>
      <div class="index-blog__grid _active" id="news">
        <div class="index-blog__item">
          <a href="" class="index-blog__item-image">
            <img src="{% static 'theme/mb/images/3.jpg' %}" alt="">
          </a>
          <div class="index-blog__item-content">
            <a href="" class="index-blog__item-title">Название статьи</a>
            <p class="index-blog__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <a href="#" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
        <div class="index-blog__item">
          <a href="" class="index-blog__item-image">
            <img src="{% static 'theme/mb/images/3.jpg' %}" alt="">
          </a>
          <div class="index-blog__item-content">
            <a href="" class="index-blog__item-title">Название статьи Название статьи Название статьи</a>
            <p class="index-blog__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <a href="#" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
      </div>
      <div class="index-blog__grid" id="article">
        <div class="index-blog__item">
          <a href="" class="index-blog__item-image">
            <img src="{% static 'theme/mb/images/3.jpg' %}" alt="">
          </a>
          <div class="index-blog__item-content">
            <a href="" class="index-blog__item-title">Название статьи</a>
            <p class="index-blog__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
              ullam aliquam ...</p>
            <a href="#" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
        <div class="index-blog__item">
          <a href="" class="index-blog__item-image">
            <img src="{% static 'theme/mb/images/3.jpg' %}" alt="">
          </a>
          <div class="index-blog__item-content">
            <a href="" class="index-blog__item-title">Название статьи Название статьи Название статьи</a>
            <p class="index-blog__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <a href="#" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
      </div>
      <div class="index-blog__grid" id="stock">
        <div class="index-blog__item">
          <a href="" class="index-blog__item-image">
            <img src="{% static 'theme/mb/images/3.jpg' %}" alt="">
          </a>
          <div class="index-blog__item-content">
            <a href="" class="index-blog__item-title">Название статьи</a>
            <p class="index-blog__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
              ullam aliquam ...</p>
            <a href="#" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
        <div class="index-blog__item">
          <a href="" class="index-blog__item-image">
            <img src="{% static 'theme/mb/images/3.jpg' %}" alt="">
          </a>
          <div class="index-blog__item-content">
            <a href="" class="index-blog__item-title">Название статьи Название статьи Название статьи</a>
            <p class="index-blog__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <a href="#" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="index-gallery">
    <div class="index-gallery__grid">
      <div class="index-gallery__item">
        <img src="img/gallery/IMG_4300.jpg" alt="" />
      </div>
    </div>
  </div>

  <section class="contact">
    <div class="contact__container">
      <h2 class="contact__title _title">Контакты</h2>
      <div class="contact__row">
        <div class="contact__col contact-info">
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content" id="address">
              г.Томск,<br />
              улица Ленина, дом 23а
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <a href="tel:{{ settings.phone_one }}" class="contact-info__content reg-num" id="phone">{{ settings.phone_one }}</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="#" class="contact-info__content">trapeza@mail.ru</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <p class="contact-info__content" id="time-work">с 8:00 до 17:00</p>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-regular fa-calendar"></i>
            </div>
            <p class="contact-info__content" id="weekend">суббота и воскресенье выходной</p>
          </div>
        </div>
        <div class="contact__col form">
          <form action="" class="form__form">
            <div class="form__group require">
              <label for="contact-name" class="require">Имя</label>
              <input type="text" name="contact-name" id="contact-name" placeholder="ФИО" class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-phone" class="require">Телефон</label>
              <input type="text" name="contact-phone" id="contact-phone" placeholder="Телефон*"
                class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-email" class="require">Email</label>
              <input type="text" name="contact-email" id="contact-email" placeholder="Email" class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-message">Коментарий к заявке</label>
              <textarea type="text" rows="5" name="contact-message" id="contact-message" placeholder="Комментарий"
                class="form__controls"></textarea>
            </div>
            <div class="form__group">
              <button type="submit" class="form__btn">Отправить</button>
              <div class="form__agree">
                <input type="checkbox" id="agree-checkbox" checked />
                <label for="agree-checkbox">Даю согласие на обработку персональных данных</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="contact__map" id="map">
        
      </div>
    </div>
  </section>
  </main>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.reviews__slider', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
      slidesPerView: 3,
      spaceBetween: 30,
      centeredSlides: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.reviews__controls-next',
        prevEl: '.reviews__controls-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
          spaceBetween: 30,
        },
        620: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
    });
  </script>
</body>
{% endblock %} {% include "../components/footer.html" %}