{% extends 'base.html' %}{% load static %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="service-page">
    <div class="service-page__container">
      <div class="products__top title-page">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1" />
          </a>
          <a href="{% url 'service' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            Услуги
            <meta itemprop="position" content="2" />
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            {{ service.name }}
            <meta itemprop="position" content="3" />
          </span>
        </div>
        <h1 class="products__title title-page__title">{{ service.name }}</h1>
        {% if service.subtitle %}
        <p class="products__subtitle">{{ service.subtitle }}</p>
        {% if request.path == "/service/pominalnye-obedy/" %}
        <button type="button" class="products__btn" data-popup="popup-pominalnye">Заказать обед</button>
        {% else %}
        <button type="button" class="products__btn" data-popup="popup-reservation">Заказать банкет</button>
        {% endif %} {% endif %}
      </div>
    </div>
    <section class="service-page__body body-service">
      <img src="{% static 'theme/mb/images/separator.svg' %}" alt="" width="100%" class="body-service__separator" />
      <div class="service__container">
        <div class="body-service__row">
          {% if branchs %} {% for branch in branchs %}
          <div class="body-service__col">
            {% if forloop.counter == 2%}
            <h2 class="body-service__title _title">
              Заказать обед <br />
              в столовой
            </h2>
            {% endif %}
            <div class="body-service__image">
              {% if branch.image %}
              <img src="{{ branch.image.url }}" alt="{{ branch.name }}" title="{{ branch.name }}" />
              {% else %}
              <img src="{% static 'theme/mb/images/no-image.jpg' %}" alt="{{ branch.name }}"
                title="{{ branch.name }}" />
              {% endif %}
              <span>{{ branch.address_fillial }}</span>
            </div>
            {% if forloop.counter == 2 %}
            <button type="button" class="body-service__btn _btn" data-popup="popup-reservation">Забронировать
              зал</button>
            {% endif %}
          </div>
          {% endfor %}{% endif %}
        </div>
      </div>
    </section>
    {% if products %}
    <section class="service-menu">
      {% comment %} <img src="{% static 'theme/mb/images/menun.webp' %}" alt="" class="service-menu__bg" />
      {% endcomment %}
      <div class="service-menu__container">

        {% if request.path == "/service/pominalnye-obedy/" %}
        <h2 class="_title pominalnye-title">Поминальное меню</h2>
        <div class="pominalnye">
          {% for category, products in products_by_category.items %}
          {% for product in products %}
          <ul class="pominalnye__item">
            <li class="pominalnye__title">{{ product.name }}</li>
          </ul>
          {% endfor %} {% endfor %}
        </div>
        {% else %} {% for category, products in products_by_category.items %}
        <div class="service-menu__row">
          <h2 class="service-menu__title _title">{{ category.name }}</h2>
          <div class="products-single__grid">
            {% for product in products %}
            <div class="card-product" data-id="{{ product.display_id }}" data-name="{{ product.category.slug }}">
              <div class="card-product__image">
                {% if product.image %} {% thumbnail product.image "393x300" format="WEBP" as im %}
                <img src="{{ im.url }}" alt="{{ product.name }}" title="{{ product.name }}" />
                {% endthumbnail %} {% else %}
                <img src="{% static 'theme/mb/images/no-image.jpg' %}" alt="{{ product.name }}"
                  title="{{ product.name }}" />
                {% endif %}
              </div>
              <p class="card-product__name">{{ product.name }}</p>

              {% if product.price %}
              <p class="card-product__price">{{ product.price }}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </section>
    {% endif %}
  </div>

  <section class="contact">
    <div class="contact__container">
      <h2 class="contact__title _title">Контакты</h2>
      <div class="contact__row">
        <div class="contact__col contact-info">
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content" id="address">
              г.Томск,<br />
              улица Ленина, дом 23а
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <a href="tel:{{ settings.phone_one }}" class="contact-info__content reg-num" id="phone">{{
              settings.phone_one }}</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="#" class="contact-info__content">trapeza@mail.ru</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <p class="contact-info__content" id="time-work">с 8:00 до 17:00</p>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-regular fa-calendar"></i>
            </div>
            <p class="contact-info__content" id="weekend">суббота и воскресенье выходной</p>
          </div>
        </div>
        <div class="contact__col form">
          <form action="" class="form__form">
            <div class="form__group require">
              <label for="contact-name" class="require">Имя</label>
              <input type="text" name="contact-name" id="contact-name" placeholder="ФИО" class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-phone" class="require">Телефон</label>
              <input type="text" name="contact-phone" id="contact-phone" placeholder="Телефон*"
                class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-email" class="require">Email</label>
              <input type="text" name="contact-email" id="contact-email" placeholder="Email" class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-message">Коментарий к заявке</label>
              <textarea type="text" rows="5" name="contact-message" id="contact-message" placeholder="Комментарий"
                class="form__controls"></textarea>
            </div>
            <div class="form__group">
              <button type="submit" class="form__btn">Отправить</button>
              <div class="form__agree">
                <input type="checkbox" id="agree-checkbox" checked />
                <label for="agree-checkbox">Даю согласие на обработку персональных данных</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="contact__map" id="map"></div>
    </div>
  </section>
</main>
{% endblock %}

<!-- {% for category in categorys %}
              <li>{{ category.name }}</li>
              <ul>
                {% for product in category.serviceproduct_set.all %}
                <li>{{ product.name }}</li>
                {% endfor %}
              </ul>
              {% endfor %} -->