asgiref
Django
django-ckeditor-5
django-debug-toolbar
et-xmlfile
mysqlclient
numpy
openpyxl
pandas
pillow
psycopg2
python-dateutil
pytils
pytz
setuptools
six
sorl-thumbnail
sqlparse
tzdata
whitenoise
xlrd
