body {
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: .2);
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 99;
  }
}

._lock {
}

html._lock {

  body {
    overflow: hidden;
  }

  body::before {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

}

main {
  position: relative;
  // margin-left: 100px;
}

.btn {
}

section {
  padding: clamp(30px, 3vw, 50px) 0px;
}

._title {
  line-height: 140%;
  font-family: $fontFamily;
  font-size: 45px;
  position: relative;
  z-index: 2;
  color: $mainColor;

  @media screen and (max-width: 520px) {
    font-size: 30px;
  }
}

.title--dark {
  line-height: 110%;
  font-weight: 400;
  font-size: clamp(35px, 2.5vw, 45px);

  // &::before {
  //   content: '';
  //   background-image: url(../img/icon/i-decor-title-left-darkblue.svg);
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   display: block;
  //   width: 100px;
  //   height: 30px;
  //   margin-right: 20px;
  // }

  // &::after {
  //   content: '';
  //   background-image: url(../img/icon/i-decor-title-right-darkblue.svg);
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   display: block;
  //   width: 100px;
  //   height: 30px;
  //   margin-left: 20px;
  // }
}

.rect {
  position: absolute;
  right: 0;
  opacity: 0;
  bottom: 40%;
  height: 250px;
  width: 40%;
  background-color: rgba($color: $mainColor, $alpha: .3);
  z-index: -1;
}

._btn {
  background: $accent;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: $white;
  transition: $animation_speed;

  &:hover {
    background-color: rgba($color: $mainColor, $alpha: 1.0);
  }

  @media screen and (min-width: 520px) {
    min-width: 290px;
  }

  @media screen and (max-width: 520px) {
    width: 100%;
  }

}

.empty-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;

  p {
    font-size: 35px;
    color: rgba($color: $mainColor, $alpha: .3);
    text-wrap: balance;
  }
}

.text {
}

.single-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin: 20px 15px 0px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: .5);
    z-index: 0;
  }

  ._title {
    color: $white;
  }

  .breadcrumbs {
    color: $white;
  }

  .breadcrumbs__item::after {
    background-color: $white !important;
  }
}

.no-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  font-size: 30px;
  text-align: center;
  text-wrap: balance;
  color: rgba($color: $mainColor, $alpha: .8);

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.page {
  margin-top: 70px;
}

.cookie-notice {
  display: none;
  width: 60%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  border-radius: 5px;
  line-height: 150%;
  z-index: 1000;

  a {
    color: #00CF00;
    text-decoration: underline;
  }
}

.accept-cookies {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}