* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
}

a {
    color: $mainColor;
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}