.content {
  display: flex;
  justify-content: flex-end;
  // height: 100vh;
  overflow: hidden;

  // .content__inner
  &__inner {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 20px;
  }
}