{% extends 'admin_base.html' %} {% load shop_tags %} {% load static %} {% block body %}

<div class="page">
  <div class="page__inner">
    <form action="." method="POST" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="page__add">
        <h1 class="page__title">Загрузка Excel файла</h1>
      </div>
      <div class="page-content _show" id="basic">
        <!-- Основные настройки -->
        <div class="page-content__row">
          <div class="page-content__onecol">
            <form action="" method="POST" enctype="multipart/form-data" class="form">
              {% csrf_token %} {{ form.as_p }}
              <button type="submit" class="form__btn">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
