{% extends 'base.html' %} 
{% block title %}Отзывы | Столовая Трапеза{% endblock %}
{% block description %}Отзывы наших клиентов{% endblock %}
{% block keywords %}ОТзывы, отзывы трапеза{% endblock %}
{% load static %} {% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner" style="background-image: url({% static "theme/mb/images/stock.jpg" %})" data-speed="70">
    <h1 class="stock__title _title">Отзывы наших клиентов</h1>
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
        class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1" />
      </a>
      <span itemprop="name" class="breadcrumbs__item">
        Отзывы
        <meta itemprop="position" content="3" />
      </span>
    </div>
  </div>
  <section class="reviews-add">
    <div class="reviews-add__container">
      <div class="reviews-add__row">
        <div class="reviews-add__col">
          <img src="{% static 'theme/mb/images/about.jpg' %}" alt="" />
        </div>
        <div class="reviews-add__col">
          <h2 class="reviews-add__title _title">
            Напишите о нас отзыв
          </h2>
          <form action="{% url 'reviewsform' %}" method="POST" class="reviews-add__form form">
            {% csrf_token %}
           {{ reviewsform.name }}
           {{ reviewsform.email }}
            <div class="form-reviews__group">
              {{ reviewsform.rating }}
              <div class="form-reviews__stars" data-rating-total="0">
                <span data-rating="5" class="form-reviews__star"></span>
                <span data-rating="4" class="form-reviews__star"></span>
                <span data-rating="3" class="form-reviews__star"></span>
                <span data-rating="2" class="form-reviews__star"></span>
                <span data-rating="1" class="form-reviews__star"></span>
              </div>
            </div>
            {{ reviewsform.message }}
            <button type="submit" class="form__submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="reviews">
    <div class="reviews__container">
      <h2 class="reviews__title _title">Отзывы о нас</h2>
      <div class="reviews__grid">
        {% if reviews %}
        {% for review in reviews %}
        <div class="reviews__slide">
          <div class="reviews__head">
            <div class="reviews__name">
              <p>{{ review.name }}</p>
            </div>
            <div class="reviews__rating">
              <div class="reviews__stars">
                <img src="{%static 'theme/mb/images/star_full.png' %}" alt="" class="star-img"  />
                <img src="{%static 'theme/mb/images/star_full.png' %}" alt="" class="star-img" />
                <img src="{%static 'theme/mb/images/star_full.png' %}" alt="" class="star-img" />
                <img src="{%static 'theme/mb/images/star_full.png' %}" alt="" class="star-img" />
                <img src="{%static 'theme/mb/images/star_full.png' %}" alt="" class="star-img" />
              </div>
            </div>
          </div>
          <div class="reviews__content">
            <div class="reviews__text">
              {{ review.text }}
            </div>
            <button type="button" class="reviews__btn" data-popup="popup-reviews">Показать весь отзыв</button>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="contact__container">
      <h2 class="contact__title _title">Контакты</h2>
      <div class="contact__row">
        <div class="contact__col contact-info">
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content">
              г.Томск,<br />
              улица Ленина, дом 23а
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content">
              г.Томск,<br />
              проспект Фрунзе, дом 28в
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <a href="#" class="contact-info__content"> 8(999) 999-99-99 </a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="#" class="contact-info__content"> trapeza@mail.ru </a>
          </div>
        </div>
        <div class="contact__col form">
          <form action="{% url 'contacform' %}" class="form__form" method="POST">
						{% csrf_token %}
						<div class="form__group require">{{ contactform.name }}</div>
						<div class="form__group">{{ contactform.phone }}</div>
						<div class="form__group">{{ contactform.email }}</div>
						<div class="form__group">{{ contactform.message }}</div>
						<div class="form__group form__group-row">
							<button type="submit" class="form__btn">Отправить</button>
							<div class="form__agree">
								<input type="checkbox" id="agree-checkbox" checked />
								<label for="agree-checkbox">Даю согласие на обработку персональных данных</label>
							</div>
						</div>
					</form>
        </div>
      </div>
      <div class="contact__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa514d171383ef2208b84f635ce68ef69fead16ae40de4d730cfddb8faf30a665&amp;source=constructor"
          width="100%" height="500" frameborder="0"></iframe>
      </div>
    </div>
  </section>
</main>
{% endblock %}