{% extends 'base.html' %} {% load static %} {% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner"
    style="background-image: url({% if new.image %}{{  new.image.url }}{% else %}{% static "
    theme/mb/images/no-image.jpg" %}{% endif %} )" data-speed="70">
    <h1 class="stock__title _title">{{  new.name }}</h1>
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
        class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1" />
      </a>
      <a href="{% url 'news' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
        class="breadcrumbs__item">
        Новости
        <meta itemprop="position" content="2" />
      </a>
      <span itemprop="name" class="breadcrumbs__item">
        {{ new.name }}
        <meta itemprop="position" content="3" />
      </span>
    </div>
  </div>
  <section class="about">
    <div class="about__container">
      <div class="about__inner">
        {% if news %}
        <div class="link-bar">
          {% for new in news %}
          <a href="{{ new.get_absolute_url }}" class="link-bar__link">{{ new.name }}</a>
          {% endfor %}
        </div>
        {% endif %}
        <div class="about__content">
          <div class="text">
            {{ new.text }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="callback" style="background-image: url({% static 'theme/mb/images/3.jpg' %})">
    <div class="callback__container">
      <h2 class="callback__title _title">Напишите нам !</h2>
      <p class="callback__subtitle">
        Если вы хотите заказать корпоративные обеды, банкет, кейтеринг или другие мероприятия, предложить
        сотрудничество
        или связаться по другому интересующему вас вопросу,
        заполните форму связи и мы обязательно ответим!
      </p>
      <form action="#" class="callback__form">
        <input type="text" name="name" placeholder="Имя" class="callback__input" />
        <input type="text" name="phone" placeholder="Телефон" class="callback__input" />
        <input type="text" name="message" placeholder="Сообщение" class="callback__input" />
        <button type="submit" class="callback__submit">Отправить</button>
      </form>
    </div>
  </div> -->

  <section class="contact">
    <div class="contact__container">
      <h2 class="contact__title _title">Контакты</h2>
      <div class="contact__row">
        <div class="contact__col contact-info">
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content" id="address">
              г.Томск,<br />
              улица Ленина, дом 23а
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <a href="tel:{{ settings.phone_one }}" class="contact-info__content reg-num" id="phone">{{
              settings.phone_one }}</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="#" class="contact-info__content">trapeza@mail.ru</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <p class="contact-info__content" id="time-work">с 8:00 до 17:00</p>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-regular fa-calendar"></i>
            </div>
            <p class="contact-info__content" id="weekend">суббота и воскресенье выходной</p>
          </div>
        </div>
        <div class="contact__col form">
          <form action="" class="form__form">
            <div class="form__group require">
              <label for="contact-name" class="require">Имя</label>
              <input type="text" name="contact-name" id="contact-name" placeholder="ФИО" class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-phone" class="require">Телефон</label>
              <input type="text" name="contact-phone" id="contact-phone" placeholder="Телефон*"
                class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-email" class="require">Email</label>
              <input type="text" name="contact-email" id="contact-email" placeholder="Email" class="form__controls" />
            </div>
            <div class="form__group">
              <label for="contact-message">Коментарий к заявке</label>
              <textarea type="text" rows="5" name="contact-message" id="contact-message" placeholder="Комментарий"
                class="form__controls"></textarea>
            </div>
            <div class="form__group">
              <button type="submit" class="form__btn">Отправить</button>
              <div class="form__agree">
                <input type="checkbox" id="agree-checkbox" checked />
                <label for="agree-checkbox">Даю согласие на обработку персональных данных</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="contact__map" id="map">

      </div>
    </div>
  </section>
</main>
{% endblock %}