{% extends 'base.html' %} {% load static %} {% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner" style="background-image: url({% if new.image %}{{ new.image.url }}{% else %}{% static "theme/mb/images/stock.jpg" %}{% endif %})" data-speed="70">
    <h1 class="stock__title _title">{{ new.meta_h1 }}</h1>
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
        class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1" />
      </a>
      <span itemprop="name" class="breadcrumbs__item">
        {{ new.meta_h1 }}
        <meta itemprop="position" content="3" />
      </span>
    </div>
  </div>

  <section class="blog">
    <div class="blog__container">
      {% if news %}
      <div class="blog__grid">
        {% for new in news %}
        <div class="blog__item article">
          <div class="article__inner">
            <a href="{{ new.get_absolute_url }}" class="article__image">
              {% if new.image %} {% thumbnail new.image "393x300" format="WEBP" as im %}
              <img src="{{ im.url }}" alt="{{ new.name }}" title="{{ new.name }}" />
              {% endthumbnail %} {% else %}
              <img src="{% static 'theme/mb/images/no-image.jpg' %}" alt="{{ new.name }}" title="{{ new.name }}" />
              {% endif %}
            </a>
            <div class="article__content">
              <a href="{{ new.get_absolute_url }}" class="article__name">{{ new.name }}</a>
              <p class="article__text">{{ new.text|truncatechars:180 }}</p>
            </div>
          </div>
          <div class="article__bottom">
            <div class="article__icon">
              <i class="fa-regular fa-calendar-days"></i>
              <span>{{ new.date_creation }}</span>
            </div>
            <a href="{{ new.get_absolute_url }}" class="article__link">Читать</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="empty-info">
        <p>В данный момент страница дорабатывается</p>
      </div>
      {% endif %}
    </div>
  </section>

  <section class="contact">
    <div class="contact__container">
      <h2 class="contact__title _title">Контакты</h2>
      <div class="contact__row">
        <div class="contact__col contact-info">
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content" id="address">
              г.Томск,<br />
              улица Ленина, дом 23а
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <a href="tel:{{ settings.phone_one }}" class="contact-info__content reg-num" id="phone">{{
              settings.phone_one }}</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="#" class="contact-info__content">trapeza@mail.ru</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <p class="contact-info__content" id="time-work">с 8:00 до 17:00</p>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-regular fa-calendar"></i>
            </div>
            <p class="contact-info__content" id="weekend">суббота и воскресенье выходной</p>
          </div>
        </div>
        <div class="contact__col form">
          <form action="{% url 'contacform' %}" class="form__form" method="POST">
            {% csrf_token %}
            <div class="form__group require">{{ contactform.name }}</div>
            <div class="form__group">{{ contactform.phone }}</div>
            <div class="form__group">{{ contactform.email }}</div>
            <div class="form__group">{{ contactform.message }}</div>
            <div class="form__group form__group-row">
              <button type="submit" class="form__btn">Отправить</button>
              <div class="form__agree">
                <input type="checkbox" id="agree-checkbox" checked />
                <label for="agree-checkbox">Даю согласие на обработку персональных данных</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="contact__map" id="map"></div>
    </div>
  </section>
</main>
{% endblock %}