{% extends 'base.html' %} {% block content %}{% load static %}

<main class="page">
  <section class="products">
    <div class="products__container">
      <div class="products__top title-page">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1" />
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            Категории
            <meta itemprop="position" content="2" />
          </span>
        </div>
        <h1 class="products__title title-page__title">Виды меню</h1>
      </div>
      <section class="service">
        <div class="service__container">
          {% if category %} {% for category in category %}
          <div class="service__row">
            <a href="{{category.slug}}" class="service__item">
              {% if category.image %}
              <img src="{{ category.image.url }}" alt="{{ category.name }}" title="{{ category.name }}"
                class="service__item-image" />
              {% endif %}
              <div class="service__item-content">
                <span>{{ category.name }}</span>
                <span><i class="fa-solid fa-arrow-right-long"></i></span>
              </div>
            </a>
          </div>
          {% endfor %} {% else %}
          <p>Товаров пока что нет</p>
          {% endif %}
        </div>
      </section>
    </div>
  </section>
</main>

{% endblock %}