{% extends 'base.html' %} {% load static %}
{% block title %}{{ article.meta_title }}{% endblock %}
{% block description %}{{ article.description }}{% endblock %}
{% block keywords %}{{ article.keywords }}{% endblock %}
{% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner" style="background-image: url({% if article.image %}{{ article.image.url }}{% else %}
    {% static 'theme/mb/images/stock.webp' %}{% endif %} )" data-speed="70">
    <h1 class="stock__title _title">{{ article.name }}</h1>
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
        class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1" />
      </a>
      <a href="{% url 'blog' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
        class="breadcrumbs__item">
        Блог
        <meta itemprop="position" content="2" />
      </a>
      <span itemprop="name" class="breadcrumbs__item">
        {{ article.name }}
        <meta itemprop="position" content="3" />
      </span>
    </div>
  </div>
  <section class="about">
    <div class="about__container">
      <div class="about__inner">
        {% if articles %}
        <div class="link-bar">
          {% for article in articles %}
          <a href="{{ article.get_absolute_url }}" class="link-bar__link">{{ article.name }}</a>
          {% endfor %}
        </div>
        {% endif %}
        <div class="about__content">
          <div class="text">
            {{ article.text }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="callback" style="background-image: url({% static 'theme/mb/images/3.jpg' %})">
    <div class="callback__container">
      <h2 class="callback__title _title">Напишите нам !</h2>
      <p class="callback__subtitle">
        Если вы хотите заказать корпоративные обеды, банкет, кейтеринг или другие мероприятия, предложить
        сотрудничество
        или связаться по другому интересующему вас вопросу,
        заполните форму связи и мы обязательно ответим!
      </p>
      <form action="#" class="callback__form">
        <input type="text" name="name" placeholder="Имя" class="callback__input" />
        <input type="text" name="phone" placeholder="Телефон" class="callback__input" />
        <input type="text" name="message" placeholder="Сообщение" class="callback__input" />
        <button type="submit" class="callback__submit">Отправить</button>
      </form>
    </div>
  </div> -->

  <section class="contact">
    <div class="contact__container">
      <h2 class="contact__title _title" data-aos="fade-up" data-aos-once="true">Контакты</h2>
      <div class="contact__row">
        <div class="contact__col contact-info" data-aos="fade-up" data-aos-once="true" data-aos-delay="300">
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content" id="address">
              {{ branchs.address_fillial }}
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <a href="tel:{{ settings.phone_one }}" class="contact-info__content reg-num" id="phone">
              {{ settings.phone_one }}
            </a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="#" class="contact-info__content">{{ settings.email }}</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <p class="contact-info__content" id="time-work">{{ branchs.time_work }}</p>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-regular fa-calendar"></i>
            </div>
            <p class="contact-info__content" id="weekend">{{ branchs.weekend }}</p>
          </div>
        </div>
        <div class="contact__col form" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
          <form action="{% url 'contacform' %}" class="form__form" method="POST">
            {% csrf_token %}
            <div class="form__group require">{{ contactform.name }}</div>
            <div class="form__group">{{ contactform.phone }}</div>
            <div class="form__group">{{ contactform.email }}</div>
            <div class="form__group">{{ contactform.message }}</div>
            <div class="form__group form__group-row">
              <button type="submit" class="form__btn">Отправить</button>
              <div class="form__agree">
                <input type="checkbox" id="agree-checkbox" checked />
                <label for="agree-checkbox">Даю согласие на обработку персональных данных</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="contact__map" id="map" data-aos="fade-up" data-aos-once="true" data-aos-delay="600">

      </div>
    </div>
  </section>
</main>
{% endblock %}