{% extends 'base.html' %} {% load static %}
{% block title %}{{ blog_setings.meta_title }}{% endblock %}
{% block description %}{{ blog_setings.description }}{% endblock %}
{% block keywords %}{{ blog_setings.keywords }}{% endblock %}
{% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner"
    style="background-image: url({% if blog_setings.image  %}{{ blog_setings.image.url }}{% else %}{% static 'theme/mb/images/stock.jpg' %}{% endif %})"
    data-speed="70">
    <h1 class="stock__title _title">{{ blog_setings.meta_h1 }}</h1>
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
        class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1" />
      </a>
      <span itemprop="name" class="breadcrumbs__item">
        {{ blog_setings.meta_h1 }}
        <meta itemprop="position" content="3" />
      </span>
    </div>
  </div>

  <section class="blog">
    <div class="blog__container">
      {% if articles %}
      <div class="blog__grid">
        {% for article in articles %}
        <div class="blog__item article">
          <div class="article__inner">
            <a href="{{ article.get_absolute_url }}" class="article__image">
              {% if article.image %} {% thumbnail article.image "393x300" format="WEBP" as im %}
              <img src="{{ im.url }}" alt="{{ article.name }}" title="{{ article.name }}" />
              {% endthumbnail %} {% else %}
              <img src="{% static 'theme/mb/images/no-image.jpg' %}" alt="{{ article.name }}"
                title="{{ article.name }}" />
              {% endif %}
            </a>
            <div class="article__content">
              <a href="{{ article.get_absolute_url }}" class="article__name">{{ article.name }}</a>
              <p class="article__text">{{ article.text|truncatechars:180 }}</p>
            </div>
          </div>
          <div class="article__bottom">
            <div class="article__icon">
              <i class="fa-regular fa-calendar-days"></i>
              <span>{{ article.date_creation }}</span>
            </div>
            <a href="{{ article.get_absolute_url }}" class="article__link">Читать</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="empty-info">
        <p>В данный момент страница дорабатывается</p>
      </div>
      {% endif %}
    </div>
    {% comment %} <p>{{ blog_setings.text }}</p> {% endcomment %}
  </section>

  <section class="contact">
    <div class="contact__container">
      <h2 class="contact__title _title">Контакты</h2>
      <div class="contact__row">
        <div class="contact__col contact-info">
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contact-info__content" id="address">
              {{ branchs.address_fillial }}
            </div>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <a href="tel:{{ settings.phone_one }}" class="contact-info__content reg-num" id="phone">
              {{ settings.phone_one }}
            </a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="#" class="contact-info__content">{{ settings.email }}</a>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <p class="contact-info__content" id="time-work">{{ branchs.time_work }}</p>
          </div>
          <div class="contact-info__row">
            <div class="contact-info__icon">
              <i class="fa-regular fa-calendar"></i>
            </div>
            <p class="contact-info__content" id="weekend">{{ branchs.weekend }}</p>
          </div>
        </div>
        <div class="contact__col form">
          <form action="{% url 'contacform' %}" class="form__form" method="POST">
            {% csrf_token %}
            <div class="form__group require">{{ contactform.name }}</div>
            <div class="form__group">{{ contactform.phone }}</div>
            <div class="form__group">{{ contactform.email }}</div>
            <div class="form__group">{{ contactform.message }}</div>
            <div class="form__group form__group-row">
              <button type="submit" class="form__btn">Отправить</button>
              <div class="form__agree">
                <input type="checkbox" id="agree-checkbox" checked />
                <label for="agree-checkbox">Даю согласие на обработку персональных данных</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="contact__map" id="map">

      </div>
    </div>
  </section>
</main>
{% endblock %}