<div class="popup" id="popup-delivery">
  <div class="popup__wrapper">
    <div class="popup__content">
      <p class="popup__title">Какой адрес к Вам ближе:</p>
      <span class="popup__line"></span>
      <!-- <button type="button" aria-label="Закрыть всплывающие окно" class="popup__close"><span></span></button> -->
      <form action="/" class="form">
        {% csrf_token %} {% if branchs %} {% for branch in branchs %}
        <button type="button" class="form__btn-branch" data-slug="{{ branch.slug }}">{{ branch.address_fillial }}
        </button>
        {% endfor %} {% endif %}
      </form>
    </div>
  </div>
</div>

<div class="popup" id="popup-callback">
  <div class="popup__wrapper">
    <div class="popup__content">
      <p class="popup__title">Заказ обратного звонка</p>
      <span class="popup__line"></span>
      <button type="button" aria-label="Закрыть всплывающие окно" class="popup__close"><span></span></button>
      <form action="{% url 'callback' %}" method="POST" class="form form-column">
        {% csrf_token %} {{ callback.name }} {{ callback.phone }}
        <div class="form__row">
          <input type="checkbox" id="agreement-callback" name="agreement" required>
          <label for="agreement-callback" class="form__label">
            Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом
            и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookie и
            <a href="{% url 'policy' %}">политикой конфиденциальности</a>.
          </label>
        </div>
        <button type="submit" class="form__submit">Заказать</button>
      </form>
    </div>
  </div>
</div>

<div class="popup" id="popup-reservation">
  <div class="popup__wrapper">
    <div class="popup__content">
      <p class="popup__title">Забронировать зал</p>
      <span class="popup__line"></span>
      <button type="button" aria-label="Закрыть всплывающие окно" class="popup__close"><span></span></button>
      <form action="{% url 'consultation' %}" class="form form-column" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Ваше имя" class="form__controls" name="name"/>
        <input type="tel" placeholder="Ваш номер телефона" class="form__controls" name="phone"/>
        <input type="date" id="data" name="data" class="form__controls"/>
        <input type="number" id="number" name="number" class="form__controls" placeholder="Сколько человек ?"/>
        <select name="reservation" id="reservation" class="form__select">
          {% if branchs %} {% for branch in branchs %}
          <option value="{{ branch.name }}" class="form__option">{{ branch.name }}</option>
          {% endfor %} {% endif %}
        </select>
        <div class="form__row">
          <input type="checkbox" id="agreement-reservation" name="agreement" required>
          <label for="agreement-reservation" class="form__label">
            Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом
            и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookie и
            <a href="{% url 'policy' %}">политикой конфиденциальности</a>.
          </label>
        </div>
        <button type="submit" class="form__submit">Заказать</button>
      </form>
    </div>
  </div>
</div>

<div class="popup" id="popup-pominalnye">
  <div class="popup__wrapper">
    <div class="popup__content">
      <p class="popup__title">Получить консультацию</p>
      <span class="popup__line"></span>
      <button type="button" aria-label="Закрыть всплывающие окно" class="popup__close"><span></span></button>
      <form action="{% url 'consultation' %}" class="form form-column" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Ваше имя" class="form__controls" name="name"/>
        <input type="tel" placeholder="Ваш номер телефона" class="form__controls" name="phone"/>
        <input type="date" id="data" name="data" class="form__controls"/>
        <input type="number" id="number" name="number" class="form__controls" placeholder="Сколько человек ?"/>
        <select name="reservation" id="reservation" class="form__select">
          {% if branchs %} {% for branch in branchs %}
          <option value="{{ branch.name }}" class="form__option">{{ branch.name }}</option>
          {% endfor %} {% endif %}
        </select>
        <div class="form__row">
          <input type="checkbox" id="agreement-pominalnye" name="agreement" required>
          <label for="agreement-pominalnye" class="form__label">
            Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом
            и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookie и
            <a href="{% url 'policy' %}">политикой конфиденциальности</a>.
          </label>
        </div>
        <button type="submit" class="form__submit">Заказать</button>
      </form>
    </div>
  </div>
</div>

<div class="popup" id="popup-vacancy">
  <div class="popup__wrapper">
    <div class="popup__content">
      <p class="popup__title">Откликнуться на вакансию</p>
      <span class="popup__line"></span>
      <button type="button" aria-label="Закрыть всплывающие окно" class="popup__close"><span></span></button>
      <form action="{% url 'callback' %}" method="POST" class="form form-column">
        {% csrf_token %} {{ callback.name }} {{ callback.phone }}
        <div class="form__row">
          <input type="checkbox" id="agreement-vacancy" name="agreement" required>
          <label for="agreement-vacancy" class="form__label">
            Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом
            и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookie и
            <a href="{% url 'policy' %}">политикой конфиденциальности</a>.
          </label>
        </div>
        <button type="submit" class="form__submit">Заказать</button>
      </form>
    </div>
  </div>
</div>

<div class="popup" id="popup-reviews">
  <div class="popup__wrapper">
    <div class="popup__content">
      <button data-close type="button" class="popup__close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="popup__text"></div>
    </div>
  </div>
</div>
