.vacancy {

  // .vacancy__container

  &__container {}

  // .vacancy__row

  &__row {
    display: flex;
    gap: 30px;

    @media screen and (min-width: 920px) {
      gap: 50px;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.vacancy-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(43, 70, 60, 0.3);
  border-radius: 12px;
  padding: 20px 20px 20px;
  transition: 0.5s;

  @media screen and (min-width: 920px) {
    flex: 1 1 50%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  // .vacancy-item__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;

    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
  }

  // .vacancy-item__title

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  // .vacancy-item__salary

  &__salary {
    font-weight: 600;
  }

  // .vacancy-item__content

  &__content {
    display: flex;
    align-items: center;

    p {
      font-size: 14px;
      color: rgba($color: $mainColor, $alpha: .6);

      &:not(:first-child) {
        &::before {
          content: "/";
          padding: 0px 10px;
          color: rgba($color: $mainColor, $alpha: .6);
        }
      }

      @media screen and (max-width: 520px) {
        display: none;
      }
    }
  }

  // .vacancy-item__btn

  &__btn {
    align-self: center;
    color: rgba($color: $accent, $alpha: 1.0);
    border-bottom: 1px solid rgba($color: $accent, $alpha: 1.0);

    @media screen and (min-width: 425px) {
      align-self: flex-end;
    }
  }
}