{% extends "base.html" %} {% load static %}{% block content %}

<div class="wrapper">
  {% include "components/header-single.html" %}
  <main class="page">
    <section class="product-page">
      <div class="product-page__container">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1" />
          </a>
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            Категории
            <meta itemprop="position" content="2" />
          </a>
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            {{ product.category }}
            <meta itemprop="position" content="2" />
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            {{ product.name }}
            <meta itemprop="position" content="3" />
          </span>
        </div>
        <div class="product-page__row">
          <div class="product-page__image">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" />
            {% else %}
            <img src="{% static 'admin/images/food.webp' %}" alt="{{ product.name }}" title="{{ product.name }}" />
            {% endif %}
          </div>
          <div class="product-page__content">
            <h1 class="product-page__title">{{ product.name }}</h1>{% if product.short_description %}
            <div class="product-page__text">
              <span class="product-page__label">Краткое описание блюда:</span>
              <p>{{ product.short_description }}</p>
            </div>
            {% endif %}
            {% if product.description %}
            <div class="product-page__text">
              <p class="product-page__label">Состав:</p>
              <span>{{ product.description }}</span>
            </div>
            {% endif %}
            <div class="product-page__price">
              {% if product.price %}
              <p class="product-page__label">Цена:</p>
              <p>{{ product.price }} руб.</p>
              {% endif %}
            </div>
            <div class="product-page__price">
              {% if product.banquet_menu %}
              <p>{{ product.banquet_menu }}</p>
              {% endif %}
            </div>
            <div class="product-page__nutritional nutritional">
              {% if product.calories or product.proteins or product.fats or product.carbonhydrates %}
              <span class="product-page__label">Пицевая ценность продукта на 100г :</span>
              {% endif %}
              <div class="nutritional__grid">
                {% if product.calories %}
                <div class="nutritional__card">
                  <p class="nutritional__meaning">{{ product.calories }}</p>
                  <p class="nutritional__name">Калории</p>
                </div>
                {% endif %} {% if product.proteins%}
                <div class="nutritional__card">
                  <p class="nutritional__meaning">{{ product.proteins }}</p>
                  <p class="nutritional__name">Белки</p>
                </div>
                {% endif %} {% if product.fats %}
                <div class="nutritional__card">
                  <p class="nutritional__meaning">{{ product.fats }}</p>
                  <p class="nutritional__name">Жиры</p>
                </div>
                {% endif %} {% if product.carbonhydrates %}
                <div class="nutritional__card">
                  <p class="nutritional__meaning">{{ product.carbonhydrates }}</p>
                  <p class="nutritional__name">Углеводы</p>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if products%}
      <section class="product-related">
        <div class="product-related__container">
          <h2 class="product-related__title _title">Похожие товары</h2>
          <div class="product-related__grid">
            {% for product in products %} 
              <div class="card-product" data-id="{{ product.display_id }}">
                {% if product.image %}
                <a href="{{ product.get_absolute_url }}" class="card-product__image">
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" />
                </a>
                {% else %}
                <a href="{{ product.get_absolute_url }}" class="card-product__image">
                  <img src="{% static 'theme/mb/images/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" />
                </a>
                {% endif %}
                <a href="#" class="card-product__name">{{ product.name }}</a>
                <p class="card-product__price">{{ product.price }} руб.</p>
                <div class="card-product__btns">
                  <a href="{{ product.get_absolute_url }}" class="card-product__btn">Описание</a>
                </div>
              </div>
            {% endfor %}
        </div>
      </section>{% endif %}
  </main>
  
</div>
{% endblock content %}