{% extends "base.html" %}{% load static %}{% block content %}
<main class="page">
  <div class="policy">
    <div class="policy__container">
      <h1>Политика куки</h1>
      <p><strong>Политика в отношении файлов cookie.</strong></p>
      <p>Мы используем cookie и похожие технологии на нашем веб-сайте для предоставления наших услуг и улучшения
        качества работы нашего веб-сайта и<br>сервисов. В настоящей Политике приводятся описания технологий, которые
        могут применяться нами для сбора информации об использовании нашего сайта и<br>материалов, рассылаемых по
        электронной почте, что представляют собой файлы cookie, каким образом они используются на нашем сайте.<br>Данная
        политика описывает, какие категории файлов cookie мы используем, для чего мы их используем.</p>
      <p>Что такое файлы cookie?<br>Файл cookie является небольшим по размеру файлом данных, часто содержащим
        уникальный идентификатор. Файлы cookie могут быть отправлены<br>в ваш браузер при посещении вами нашего сайта.
        Веб-браузер сохраняет их на вашем устройстве.<br>Некоторые файлы cookie сохраняются только на время посещения
        вами нашего сайта. Эти файлы cookie называются "сеансовые". Файлы cookie другого<br>типа, известного как
        "постоянные", могут храниться на вашем компьютере после завершения работы с сайтами и использоваться нашим
        сайтом при их повторном<br>посещении.</p>
      <p>Некоторые файлы cookie, сохраняемые при посещении вами нашего сайта, могут сохраняться и использоваться
        другими компаниями.<br>Каким образом файлы cookie используются на сайтах и в материалах, рассылаемых по
        электронной почте?<br>Мы не ограничиваем себя в использовании инструментов для сбора файлов cookie. К таким
        инструментам, в том числе, могут относиться: Google Analytics,<br>Яндекс.Метрика, Weborama, Appsflyer и др.
      </p>
      <p>На сайте используются следующие виды файлов cookie:<br>1. "Критически важные" файлы cookie. "Критически
        важные" файлы cookie необходимы для предоставления вам услуг, запрашиваемых через наш сайт. Требуемые услуги
        могут быть предоставлены вам только при использовании данных файлов cookie. Yапример, эти файлы cookie могут
        использоваться на нашем сайте для:<br>• Управление и хранения элементов, помещенных вами в "корзину покупок"
        при посещении наших интернет-магазинов.<br>• Предоставления вам доступа к защищенным областям сайта без
        повторного ввода учетных данных для входа в службу.<br>• Сохранения данных о ранее совершенных вами действиях
        (например, заполнения онлайн-формы) при возврате на предыдущую страницу за один сеанс. <br>2. "Рабочие" файлы
        cookie.<br>"Рабочие" файлы cookie предназначены для сбора информации о совершаемых пользователем сайта
        действиях – поведенческая аналитика.<br>Например, эти файлы cookie могут использоваться на нашем сайте
        для:<br>• Проведение анализа с целью улучшения работы сайтов и повышения эффективности рекламных объявлений и
        материалов, рассылаемых по электронной почте.<br>• Улучшения производительности и дизайна сайта.<br>• Подсчета
        количества откликов на наши рекламные объявления.<br>• Анализа ошибок, возникающих на сайте, для улучшения
        качества обслуживания и урегулирования жалоб.<br>3. "Ссылочные" файлы cookie.<br>4. Используемые нами
        "ссылочные" файлы cookie отправляются на ваше устройство сайтами наших деловых партнеров. Эти файлы cookie<br>позволяют
        отслеживать посетителей, выполнивших переход на наш сайт с сайта делового партнера, и получать данные,
        показывающие, привел ли<br>этот переход к совершению покупки, услуги или продукта.</p>
      <p>"Функциональные" файлы cookie<br>Менее важные "функциональные" файлы cookie используются нами для
        предоставления пользователям доступа к различным полезным функциям наших<br>сайтов. Например, эти файлы cookie
        могут использоваться на нашем сайте для:<br>• Сохранения настроек, выбранных вами во время предыдущего
        посещения сайта, в том числе страны/языка без необходимости повторной настройки данных параметров в
        будущем.<br>• Ведения учета уже предложенных вам услуг, например предоставления поддержки в режиме онлайн
        нашими специалистами.</p>
      <p>5. "Сторонние" файлы cookie.<br>Посещение нашего веб-сайта может привести к сохранению некоторых файлов
        cookie, которые нами не контролируются. Это может произойти в случае, если на сайте, который Вы посетили,
        используются сторонние инструменты аналитики, автоматизации маркетинга или управления (например, инструменты
        Google и Yandex), или размещен контент со стороннего веб-сайта, например, VK и YouTube. Это приведет к тому,
        что Вы получите файлы cookie со сторонних сервисов. Мы не может управлять хранением или доступом к этим файлам
        cookie. Чтобы узнать, как сторонние сервисы используют эти файлы cookie, необходимо ознакомиться с их
        политикой использования и хранения файлов cookie.</p>
      <p>Отключение файлов cookie.</p>
      <p>Большинство интернет-браузеров изначально настроены автоматически принимать cookie. Вы можете изменить
        настройки таким образом, чтобы блокировать cookie или предупреждать пользователя, когда файлы данного типа
        будут отправлены на устройство. Есть несколько способов управления cookie. Пожалуйста, обратитесь к инструкции
        браузера для того, чтобы узнать больше о том, как скорректировать или изменить настройки браузера. Если
        отключить cookie, которые мы используем, то это может повлиять на вашу работу в Интернете, в то время как на
        нашем сайте вы не сможете посетить некоторые части нашего сайта, или вы не сможете получать персональную
        информацию, когда вы посещаете наш сайт. Если вы используете различные устройства для просмотра и доступа к
        нашему сайту (например, компьютер, смартфон, планшет и т.д.), вы должны убедиться, что каждый браузер на
        каждом устройстве настроен в соответствии с вашей точкой зрения на работу с файлами cookie.</p>
      <p>Веб-маяки.<br>На нашем сайте и в материалах, рассылаемых по электронной почте, могут использоваться
        веб-маяки, также известные как "однопиксельные файлы", "прозрачные GIF-файлы" или "метки действий". С помощью
        данной технологии мы можем узнать, какие именно посетители щелкали по ключевым элементам (например, ссылкам
        или изображениям) на странице сайта или в сообщении электронной почты. Запрашиваемые вами рекламные материалы
        или информационные бюллетени могут содержать веб-майки, которые позволяют нам определять, были ли открыты эти
        сообщения. Полученные сведения используются для оптимизации содержимого, услуг и рассылаемых материалов.</p>
      <p>Веб-маяки обычно используются совместно с файлами cookie и могут быть выключены путем полного отключения
        файлов cookie (как описано в предыдущем разделе). Некоторые почтовые программы и интернет-браузеры
        предусматривают отключение автоматической загрузки изображений. Таким образом, веб-маяки будут заблокированы,
        пока вы не загрузите изображения самостоятельно.</p>
    </div>
  </div>
</main>
{% endblock %}