<div class="vacancy__grid">
  <div class="vacancy__col">
    <div class="vacancy__col-left">
      <p class="vacancy__col-title">Ассистен-стоматолога</p>
      <p class="vacancy__col-price">от 23 000 руб.</p>
      <p class="vacancy__col-label">Обязанности:</p>
      <ul class="vacancy__col-list">
        <li>Ассистирование врачу</li>
        <li>Своевременное и качественное ведение медицинской документации;</li>
        <li>Подготовка стоматологического оборудования к работе, контроль исправности оборудования и соблюдение техники безопасности при работе с ним;</li>
        <li>Уборка кабинета после смены;</li>
        <li>Более подробная информация о должностных обязанностях на собеседовании.</li>
      </ul>
      <p class="vacancy__col-label">Требования:</p>
      <ul class="vacancy__col-list">
        <li>Ассистирование врачу</li>
        <li>Своевременное и качественное ведение медицинской документации;</li>
        <li>Подготовка стоматологического оборудования к работе, контроль исправности оборудования и соблюдение техники безопасности при работе с ним;</li>
        <li>Уборка кабинета после смены;</li>
        <li>Более подробная информация о должностных обязанностях на собеседовании.</li>
      </ul>
      <p class="vacancy__col-label">Условия:</p>
      <ul class="vacancy__col-list">
        <li>Ассистирование врачу</li>
        <li>Своевременное и качественное ведение медицинской документации;</li>
        <li>Подготовка стоматологического оборудования к работе, контроль исправности оборудования и соблюдение техники безопасности при работе с ним;</li>
        <li>Уборка кабинета после смены;</li>
        <li>Более подробная информация о должностных обязанностях на собеседовании.</li>
      </ul>
    </div>
    <div class="vacancy__col-right">
      <button type="button" class="vacancy__col-btn">Отправить резюме</button>
    </div>
  </div>
</div>
